.listData
  width: 96%;
  margin: 0 auto;
  margin-top: 1%;


.tblActions {
  margin: 1em 0;
  .filter {
    display: inline-block;
    padding: 0.8em;
    border-radius: 0.5em;
    width: 75%;
    margin-right: 1em;
  }

  .resetCols {
    display: inline-block;
    padding: 0.5em;
    width: 20%;
  }
}
