.tbl-columns
  border: 1px solid #ccc;
  margin-bottom: 1em;

  .tbl-header
    font-weight: bold;
    padding: 0.5em;
    color: #3232FF;

  .checkbox
    padding: 0.5em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block
    margin-left: 0.5em;
