.public/fixedDataTableCell/main
    background-color var(fbui-white)
    border-color #d3d3d3

.public/fixedDataTableCell/highlighted
    background-color #f4f4f4

.public/fixedDataTableCell/cellContent
    padding 8px

.public/fixedDataTableCell/columnResizerKnob
    background-color #0284ff
