.public/fixedDataTableRow/main
    background-color var(fbui-white)

.public/fixedDataTableRow/highlighted,
.public/fixedDataTableRow/highlighted .public/fixedDataTableCell/main
    background-color var(fbui-desktop-background-light)

.public/fixedDataTableRow/fixedColumnsDivider
    border-color #d3d3d3

.public/fixedDataTableRow/columnsShadow
    background-color var(fbui-desktop-background-light)
